force-app/main/default/flows/RC_Quote_After_Opportunity_Twinning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Twin_Opp_Fields</name>
        <label>Twin Opp Fields</label>
        <locationX>1104</locationX>
        <locationY>1119</locationY>
        <actionName>rc_InvocableFieldTwinning</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Error_Handler</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationObjectName</name>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityObject</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteObject</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>twinFields</name>
            <value>
                <elementReference>twinFieldList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Master_List</name>
        <label>Add to Master List</label>
        <locationX>1403</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>masterFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Field_Loop.QualifiedApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Twin_Field_List</name>
        <label>Add to Twin Field List</label>
        <locationX>1669</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>twinFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Field_Loop.QualifiedApiName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Durable_Ids</name>
        <label>Set Durable Ids</label>
        <locationX>570</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>durableIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Entity_Loop.DurableId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entity_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Fields</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fields</label>
        <locationX>1101</locationX>
        <locationY>749</locationY>
        <assignNextValueToReference>currentItem_Filter_Fields</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Field_Definitions</collectionReference>
        <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.IsCalculated</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Currency</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Picklist</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Checkbox</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Text</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Lookup</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Number</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.DataType</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Percent</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Field_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Is_this_in_the_Master_Field_List</name>
        <label>Is this in the Master Field List</label>
        <locationX>1426</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Add_to_Master_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in the Master so Add It</defaultConnectorLabel>
        <rules>
            <name>In_the_Master_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>masterFieldList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Field_Loop.QualifiedApiName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Twin_Field_List</targetReference>
            </connector>
            <label>In the Master List</label>
        </rules>
    </decisions>
    <description>Twin Field Helper for Opportnity to Quote Sync</description>
    <environments>Default</environments>
    <interviewLabel>RC Quote After Opportunity Twinning {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>RC Quote After Opportunity Twinning</label>
    <loops>
        <name>Entity_Loop</name>
        <label>Entity Loop</label>
        <locationX>776</locationX>
        <locationY>623</locationY>
        <collectionReference>Opportunity_and_Quote_Entity_Definition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Durable_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Field_Definitions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Field_Loop</name>
        <label>Field Loop</label>
        <locationX>1101</locationX>
        <locationY>869</locationY>
        <collectionReference>Filter_Fields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_in_the_Master_Field_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Twin_Opp_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Field_Definitions</name>
        <label>Field Definitions</label>
        <locationX>1101</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>In</operator>
            <value>
                <elementReference>durableIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublisherId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SBQQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>PublisherId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SBQQSC</stringValue>
            </value>
        </filters>
        <filters>
            <field>PublisherId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>cpqlabs</stringValue>
            </value>
        </filters>
        <filters>
            <field>PublisherId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>System</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <sortField>QualifiedApiName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_and_Quote_Entity_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_and_Quote_Entity_Definition</name>
        <label>Opportunity and Quote Entity Definition</label>
        <locationX>776</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entity_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send to Error Handler Subflow</description>
        <name>Error_Handler</name>
        <label>Error Handler</label>
        <locationX>885</locationX>
        <locationY>1164</locationY>
        <flowName>RC_Subflow_Error_Handler</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>objectName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>runningUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceFlow</name>
            <value>
                <stringValue>RC_Quote_After_Opportunity_Twinning</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Fields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FieldDefinition</objectType>
    </variables>
    <variables>
        <name>durableIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>masterFieldList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>twinFieldList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
